# Python venvs
.venv/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Mypy cache
.mypy_cache/

# Data and models folders
/data/
/models/
/submits/
/predictions/


blend.ipynb
facial_landmark_recognition.ipynb